{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select a picture</title>

    <style>
      .item {
        position: relative;
        float: left;
        width:  {{ size.width }}px;
        height: {{ size.height }}px;
        background-position: 50% 50%;
        background-repeat:   no-repeat;
        background-size:     cover;
      }
      .div_size img{
          height: 100%;
          width: 100%;
      }
    </style>
    {{ script | safe }}
</head>

<body>
    <div id="container" class="div_size">
        {%  for file in files %}
          <div id="{{ file.id }}" class="item" style="border:1px solid black;";>
            <a href="result/{{ file.id }}">
              <img src="{% static "img/" %}{{ file.filename }}"/>
            </a>
          </div>
        {%  endfor %}
    </div>
    <script>
      var container = document.querySelector( '#container' );
      var msnry = new Masonry( container, {
        // options
        columnWidth: 110,
        itemSelector: '.item',
      } );
    </script>
</body>


</html>

